{% extends "base.html" %}

{% block content %}
    {% if not form  and not data%}
    <h1 class="msg"> Сслылка для входа была отправлена на ваш email</h1>
    {% endif %}
    {%  if data %}
        <h1 class="msg">Вы прошли аутентификацию через email</h1>
        <a href="{{ url_for('analytics') }}">Ссылка для просмотра аналитики</a>
    {% endif %}
    {% if form %}
    <div id="wrapper">
        <h1>Отправить ссылку для входа</h1>
        <form id="signin" method="post" action="">
            {{ form.hidden_tag() }}
             {{ form.email }}
            <button type="submit">&#xf0da;</button>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </form>
    </div>

    {% endif %}
{% endblock %}


